body{ margin:0; padding:0;}

.title {
	font-family: "";
	font-size: 14px;
	line-height: 23px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.explain {
	font-family: "";
	font-size: 12px;
	line-height: 25px;
	color: #336699;
	text-decoration: none;
	font-weight: bold;

}
.inputBox{ border-top:1px solid #333; border-left:1px solid #333; border-right:1px solid #CCC; border-bottom:1px solid #CCC; font-size:12px; background:#F1F1F1; height:18px; line-height:18px; padding:0; margin:0;}
.head {
	font-family: "";
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.zhengwen {
	font-family: "";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.text{ width:140px;}
.ul{ list-style:none; margin:0; padding:0; height:22px; line-height:22px; clear:both;position:relative;}
.ul.headline li{ background:#E0F4FF; font-weight:bold; text-align:center;}
.ul li{ float:left; width:140px; margin-right:1px; text-align:center;}