BODY {
	BACKGROUND: #ffffff; MARGIN: 0px 0px 4px
}
DIV {
	FONT-SIZE: 12px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.mainFrame {
	CLEAR: both; DISPLAY: block; MARGIN: 0px auto; WIDTH: 950px; LINE-HEIGHT: 100%
}
.hdShadow {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: #ebebeb; WIDTH: 950px; LINE-HEIGHT: 3px; HEIGHT: 3px
}
.spacer6 {
	CLEAR: both; LINE-HEIGHT: 6px; HEIGHT: 6px
}
.spacer8 {
	CLEAR: both; LINE-HEIGHT: 8px; HEIGHT: 8px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both
}
.black {
	COLOR: #000
}
.green {
	COLOR: #009900
}
.red {
	COLOR: #f00
}
.lineCurB {
	BACKGROUND: #cfcfcf; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.eng {
	FONT-SIZE: 10px; FONT-FAMILY: Arial
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; HEIGHT: 22px
}
A {
	COLOR: #002d82; TEXT-DECORATION: none
}
A.red {
	COLOR: #ff0000
}
A.blue {
	COLOR: #0000ff
}
A:hover {
	TEXT-DECORATION: underline
}
B.icoUP {
	BACKGROUND: url(../images/CacheBg.gif)
}
B.icoDOWN {
	BACKGROUND: url(../images/CacheBg.gif)
}
B.icoJt {
	BACKGROUND: url(../images/CacheBg.gif)
}
.mainFrame .MainMenu .NavMenuSplit {
	BACKGROUND: url(../images/CacheBg.gif)
}
B.Search1 {
	BACKGROUND: url(../images/CacheBg.gif)
}
B.Search2 {
	BACKGROUND: url(../images/CacheBg.gif)
}
.linkButton {
	BACKGROUND: url(../images/CacheBg.gif)
}
.Express .ByBulletin .content UL LI {
	BACKGROUND: url(../images/CacheBg.gif)
}
.mainFrame .newList UL LI.dline {
	BACKGROUND: url(../images/CacheBg.gif)
}
.Comparison {
	BACKGROUND: url(../images/CacheBg.gif)
}
.Calculation {
	BACKGROUND: url(../images/CacheBg.gif)
}
.FavorBtn {
	BACKGROUND: url(../images/CacheBg.gif)
}
.numPrice UL.header {
	BACKGROUND: url(../images/CacheBg.gif)
}
.ShowContent UL LI {
	BACKGROUND: url(../images/CacheBg.gif)
}
B.icoZoom {
	BACKGROUND: url(../images/CacheBg.gif)
}
.mainFrame .MainMenu .NavMenu {
	BACKGROUND: url(../images/bgEl.gif)
}
B.icoT {
	BACKGROUND: url(../images/bgEl.gif)
}
B.icoT1 {
	BACKGROUND: url(../images/bgEl.gif)
}
B.icoTd {
	BACKGROUND: url(../images/bgEl.gif)
}
.sbtn B {
	BACKGROUND: url(../images/bgEl.gif)
}
.mainFrame .titlebox .popTitle {
	BACKGROUND: url(../images/bgEl.gif)
}
.mainFrame .titlebox .popTitle_1 {
	BACKGROUND: url(../images/bgEl.gif)
}
.splitLine {
	BACKGROUND: url(../images/bgEl.gif)
}
.list UL LI {
	BACKGROUND: url(../images/bgEl.gif)
}
.Feature .FeatureList UL LI {
	BACKGROUND: url(../images/bgEl.gif)
}
.mainFrame .newList UL LI {
	BACKGROUND: url(../images/bgEl.gif)
}
B.icoCal {
	BACKGROUND: url(../images/bgEl.gif)
}
.Calculator UL LI {
	BACKGROUND: url(../images/bgEl.gif)
}
.ByBulletin .content UL LI {
	BACKGROUND: url(../images/bgEl.gif)
}
.tit_rC_Box UL LI {
	BACKGROUND: url(../images/bgEl.gif)
}
.sbtn {
	BORDER-RIGHT: #60b4fc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #60b4fc 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; OVERFLOW: hidden; BORDER-LEFT: #60b4fc 1px solid; CURSOR: pointer; LINE-HEIGHT: 17px; PADDING-TOP: 1px; BORDER-BOTTOM: #60b4fc 1px solid; HEIGHT: 17px
}
.sbtn B {
	PADDING-RIGHT: 8px; BACKGROUND-POSITION: 0px -92px; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: lighter; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
B.icoT {
	BACKGROUND-POSITION: 0px 0px; FONT-SIZE: 1px; FLOAT: left; WIDTH: 6px; LINE-HEIGHT: 11px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 11px
}
B.icoT1 {
	BACKGROUND-POSITION: -6px 0px; FONT-SIZE: 1px; FLOAT: left; WIDTH: 6px; LINE-HEIGHT: 11px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 11px
}
B.icoTd {
	BACKGROUND-POSITION: 0px -12px; FONT-SIZE: 1px; FLOAT: left; WIDTH: 8px; LINE-HEIGHT: 13px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 13px
}
B.icoUP {
	FONT-SIZE: 1px; FLOAT: left; WIDTH: 12px; LINE-HEIGHT: 11px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 11px
}
B.icoDOWN {
	FONT-SIZE: 1px; FLOAT: left; WIDTH: 12px; LINE-HEIGHT: 11px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 11px
}
B.icoUP {
	BACKGROUND-POSITION: -37px -13px
}
B.icoDOWN {
	BACKGROUND-POSITION: -37px -26px
}
B.icoCal {
	BACKGROUND-POSITION: -8px -12px; FONT-SIZE: 1px; FLOAT: left; WIDTH: 12px; LINE-HEIGHT: 12px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
B.icoZoom {
	BACKGROUND-POSITION: -66px -40px; FONT-SIZE: 1px; FLOAT: left; WIDTH: 12px; LINE-HEIGHT: 12px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
B.icoJt {
	BACKGROUND-POSITION: -79px -40px; FONT-SIZE: 1px; FLOAT: left; WIDTH: 12px; LINE-HEIGHT: 12px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
B.Search1 {
	BACKGROUND-POSITION: -53px 0px; FLOAT: left; WIDTH: 38px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
B.Search2 {
	BACKGROUND-POSITION: -53px -20px; FLOAT: left; WIDTH: 38px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
A.linkButton {
	BORDER-RIGHT: #ff9b5b 1px solid; PADDING-RIGHT: 7px; BACKGROUND-POSITION: 0px -104px; BORDER-TOP: #ff9b5b 1px solid; PADDING-LEFT: 7px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ff9b5b 1px solid; CURSOR: pointer; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-BOTTOM: #ff9b5b 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.Comparison {
	BACKGROUND-POSITION: 0px -234px; DISPLAY: block; FLOAT: left; WIDTH: 49px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.Calculation {
	BACKGROUND-POSITION: -49px -234px; DISPLAY: block; FLOAT: left; WIDTH: 43px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.FavorBtn {
	BACKGROUND-POSITION: 0px -254px; MARGIN-TOP: 4px; DISPLAY: block; FLOAT: right; WIDTH: 83px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.mainbox {
	BORDER-RIGHT: #c4c4c4 1px solid; BACKGROUND-POSITION: 0px -176px; BORDER-TOP: #c4c4c4 1px solid; MARGIN: 7px auto 0px; BORDER-LEFT: #c4c4c4 1px solid; WIDTH: 948px; BORDER-BOTTOM: #c4c4c4 1px solid; BACKGROUND-REPEAT: repeat-x
}
.mainbox .hdmenu {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px; HEIGHT: 1%
}
.mainbox .hdmenu UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; OVERFLOW: hidden; LINE-HEIGHT: 12px; PADDING-TOP: 4px; LIST-STYLE-TYPE: none; HEIGHT: 12px
}
.mainbox .hdmenu UL LI {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 7px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 13px; PADDING-TOP: 0px; POSITION: relative
}
.mainbox .hdmenu UL LI.end {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.mainbox .hdmenu UL LI A {
	COLOR: black; TEXT-DECORATION: none
}
.mainbox .hdmenu UL LI A.red {
	COLOR: red
}
.mainbox .hdmenu UL LI A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.mainFrame .banner {
	HEIGHT: 90px
}
.mainFrame .banner .left {
	FLOAT: left; WIDTH: 175px
}
.mainFrame .banner .center {
	FLOAT: left; MARGIN-LEFT: 6px; WIDTH: 588px
}
.mainFrame .banner .right {
	FLOAT: right; WIDTH: 175px
}
.mainFrame .logo {
	MARGIN-BOTTOM: 2px; HEIGHT: 1%
}
.mainFrame .logo:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.mainFrame .logo .logo_img {
	FLOAT: left
}
.mainFrame .logo .remark {
	FLOAT: right; OVERFLOW: hidden; HEIGHT: 51px
}
.mainFrame .logo .remark {
	MARGIN-TOP: 29px; LINE-HEIGHT: 22px; HEIGHT: 22px; TEXT-ALIGN: right
}
.mainFrame .logo .remark B {
	FLOAT: right; COLOR: #494949
}
.mainFrame .logo .remark UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 22px
}
.mainFrame .logo .remark UL FONT {
	FONT-SIZE: 12px; COLOR: #494949
}
.mainFrame .logo .remark UL A {
	COLOR: #012b8d
}
.mainFrame .MainMenu {
	CLEAR: both
}
.mainFrame .MainMenu .NavMenu {
	CLEAR: both; BORDER-RIGHT: #a0d3ff 1px solid; BACKGROUND-POSITION: 0px -88px; BORDER-TOP: #a0d3ff 1px solid; OVERFLOW: hidden; BORDER-LEFT: #a0d3ff 1px solid; COLOR: #454545; BORDER-BOTTOM: #a0d3ff 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 25px
}
.mainFrame .MainMenu .up {
	BORDER-RIGHT: #2875c5 1px solid; BACKGROUND-POSITION: 0px -63px; BORDER-TOP: #2875c5 1px solid; BORDER-LEFT: #2875c5 1px solid; COLOR: #fff; BORDER-BOTTOM: #2875c5 1px solid
}
.mainFrame .MainMenu .NavMenu .title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; LINE-HEIGHT: 28px; MARGIN-RIGHT: 0px; TEXT-ALIGN: center
}
.mainFrame .MainMenu .NavMenu .title B.icoT {
	MARGIN-TOP: 8px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 9px
}
.mainFrame .MainMenu .nD .title B.icoT {
	BACKGROUND-POSITION: -6px 0px
}
.mainFrame .MainMenu .NavMenu UL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.mainFrame .MainMenu .NavMenu UL LI {
	BORDER-RIGHT: #002d8f 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 9px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 13px; PADDING-TOP: 0px; HEIGHT: 12px
}
.mainFrame .MainMenu .nD .title {
	MARGIN-RIGHT: 4px
}
.mainFrame .MainMenu .nD UL LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.mainFrame .MainMenu .nD .lspace {
	MARGIN-LEFT: 12px
}
.mainFrame .MainMenu .NavMenu UL LI A {
	COLOR: #002d8f; POSITION: relative; TEXT-DECORATION: none
}
.mainFrame .MainMenu .NavMenu UL LI A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.mainFrame .MainMenu .NavMenu UL LI.end {
	PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.mainFrame .MainMenu .up UL LI {
	BORDER-RIGHT: #fff 1px solid
}
.mainFrame .MainMenu .up UL LI A {
	COLOR: #fff
}
.mainFrame .MainMenu .up UL LI A:hover {
	COLOR: #fff
}
.mainFrame .MainMenu .SerMenu {
	BORDER-RIGHT: #c7c7c7 1px solid; BORDER-TOP: #c7c7c7 1px solid; MARGIN-TOP: 8px; OVERFLOW: hidden; BORDER-LEFT: #c7c7c7 1px solid; COLOR: #454545; LINE-HEIGHT: 32px; BORDER-BOTTOM: #c7c7c7 1px solid; HEIGHT: 32px
}
.mainFrame .MainMenu .SerMenu .j_box {
	MARGIN-TOP: 1px; BACKGROUND: #f0f0f0; OVERFLOW: hidden; HEIGHT: 31px
}
.mainFrame .MainMenu .SerMenu .title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; LINE-HEIGHT: 32px; MARGIN-RIGHT: 9px; TEXT-ALIGN: center
}
.mainFrame .MainMenu .SerMenu .title B.icoT {
	BACKGROUND-POSITION: -6px 0px; MARGIN-TOP: 9px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 9px
}
.mainFrame .MainMenu .SerMenu SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 4px 0px 0px; WIDTH: 80px; LINE-HEIGHT: 12px; PADDING-TOP: 0px; HEIGHT: 20px
}
.mainFrame .MainMenu .SerMenu SELECT.w1 {
	WIDTH: 88px
}
.mainFrame .MainMenu .SerMenu .sbtn {
	MARGIN-TOP: 4px
}
.mainFrame .MainMenu .SerMenu .left {
	MARGIN-RIGHT: 8px
}
.mainFrame .MainMenu .SerMenu .r0 {
	MARGIN-RIGHT: 0px
}
.mainFrame .main_left {
	DISPLAY: block; FLOAT: left; WIDTH: 688px; HEIGHT: 100%
}
.mainFrame .main_right {
	DISPLAY: block; FLOAT: right; WIDTH: 252px; HEIGHT: 100%
}
.mainFrame .main_left .left_right {
	DISPLAY: block; LINE-HEIGHT: 100%
}
.mainFrame .main_left .left_right .left_frame {
	FLOAT: left; WIDTH: 320px
}
.mainFrame .main_left .left_right .right_frame {
	FLOAT: right; WIDTH: 358px
}
.mainFrame .linebox {
	BORDER-RIGHT: #a4d0ff 1px solid; BORDER-TOP: #a4d0ff 1px solid; DISPLAY: block; BORDER-LEFT: #a4d0ff 1px solid; LINE-HEIGHT: 0%; BORDER-BOTTOM: #a4d0ff 1px solid; HEIGHT: 1%
}
.mainFrame .titlebox {
	DISPLAY: block; LINE-HEIGHT: 0%; HEIGHT: 1%
}
.mainFrame .nobottom {
	BORDER-BOTTOM-WIDTH: 0px
}
.mainFrame .linebox .popTitle {
	CLEAR: both; MARGIN-TOP: 1px; BACKGROUND: #e0f4ff; COLOR: #454545; LINE-HEIGHT: 25px; BORDER-BOTTOM: #a4d0ff 1px solid; HEIGHT: 25px
}
.mainFrame .linebox .popTitle .titleText {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left
}
.mainFrame .linebox .popTitle .icoT {
	BACKGROUND-POSITION: -6px 0px; MARGIN: 6px 8px 0px
}
.mainFrame .linebox .popTitle .more {
	PADDING-RIGHT: 8px; FLOAT: right
}
.mainFrame .linebox .popTitle .more A {
	COLOR: #002b8e
}
.mainFrame .main_right .linebox {
	BORDER-RIGHT: #c6c6c6 1px solid; BORDER-TOP: #c6c6c6 1px solid; DISPLAY: block; BORDER-LEFT: #c6c6c6 1px solid; LINE-HEIGHT: 0%; BORDER-BOTTOM: #c6c6c6 1px solid; HEIGHT: 1%
}
.mainFrame .main_right .linebox .popTitle {
	BACKGROUND: #e9e9e9; BORDER-BOTTOM: #c6c6c6 1px solid
}
.mainFrame .main_right .linebox .popTitle .icoT {
	BACKGROUND-POSITION: -6px 0px
}
.mainFrame .titlebox .Content {
	CLEAR: both; BORDER-RIGHT: #a4d0ff 1px solid; BORDER-TOP: #a4d0ff 1px solid; BORDER-LEFT: #a4d0ff 1px solid; BORDER-BOTTOM: #a4d0ff 1px solid
}
.mainFrame .main_right .titlebox .Content {
	BORDER-RIGHT: #c6c6c6 1px solid; BORDER-TOP: #c6c6c6 1px solid; BORDER-LEFT: #c6c6c6 1px solid; BORDER-BOTTOM: #c6c6c6 1px solid
}
.mainFrame .titlebox .titleText {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; TEXT-INDENT: 4px
}
.mainFrame .titlebox {
	DISPLAY: block; LINE-HEIGHT: 0%; HEIGHT: 1%
}
.popTitle {
	CLEAR: both; OVERFLOW: hidden; LINE-HEIGHT: 27px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 25px
}
.popTitle_1 {
	CLEAR: both; OVERFLOW: hidden; LINE-HEIGHT: 27px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 25px
}
.popTitle .icoTd {
	MARGIN: 6px 8px 0px
}
.popTitle_1 .icoTd {
	MARGIN: 6px 8px 0px
}
.mainFrame .titlebox .popTitle {
	BORDER-RIGHT: #a4d0ff 1px solid; BACKGROUND-POSITION: 0px -88px; BORDER-TOP: #a4d0ff 1px solid; BORDER-LEFT: #a4d0ff 1px solid; COLOR: #9e4d00; BORDER-BOTTOM: #a4d0ff 0px solid
}
.mainFrame .titlebox .u {
	BORDER-BOTTOM: #a4d0ff 1px solid
}
.mainFrame .titlebox .popTitle .titleText {
	COLOR: #454545
}
.mainFrame .titlebox .popTitle .more {
	DISPLAY: inline; COLOR: #454545
}
.mainFrame .titlebox .popTitle .more SPAN.click {
	CURSOR: pointer; TEXT-DECORATION: underline
}
.mainFrame .titlebox .popTitle_1 {
	BORDER-RIGHT: #c6c6c6 1px solid; BACKGROUND-POSITION: 0px -113px; BORDER-TOP: #c6c6c6 1px solid; BORDER-LEFT: #c6c6c6 1px solid; COLOR: #b45d23; BORDER-BOTTOM: #c6c6c6 0px solid
}
.mainFrame .titlebox .popTitle_1 .titleText {
	COLOR: #454545
}
.mainFrame .titlebox .popTitle_1 .more {
	COLOR: #454545
}
.mainFrame .titlebox .popTitle_1 .more A {
	COLOR: #002b8e
}
.mainFrame .titlebox .u1 {
	BORDER-BOTTOM: #c6c6c6 1px solid
}
.mainFrame .titlebox .popTitle_2 {
	CLEAR: both; MARGIN: 4px auto 0px; WIDTH: 98%; COLOR: #663401; LINE-HEIGHT: 25px; BORDER-BOTTOM: #ffe897 3px solid; HEIGHT: 25px
}
.mainFrame .titlebox .popTitle_2 .titleText {
	CLEAR: both; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; WIDTH: 200px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #e17910 3px solid; POSITION: absolute; HEIGHT: 25px
}
.mainFrame .titlebox .popTitle_2 .titleText .text {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 300px; POSITION: absolute
}
.mainFrame .titlebox .popTitle .more {
	MARGIN-TOP: 0px
}
.mainFrame .titlebox .popTitle .more FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 6px 0px 0px; PADDING-TOP: 0px
}
.mainFrame .titlebox .popTitle .more FORM SELECT {
	LINE-HEIGHT: 20px
}
.mainFrame .titlebox .popTitle .more FORM DIV {
	FLOAT: left; MARGIN-RIGHT: 7px
}
.mainFrame .titlebox .more {
	PADDING-RIGHT: 4px; FLOAT: right; OVERFLOW: hidden; LINE-HEIGHT: 20px; PADDING-TOP: 4px; HEIGHT: 20px
}
.mainFrame .titlebox .more A {
	COLOR: #002b8e
}
.titlebox .c3 {
	HEIGHT: 1%
}
.titlebox .c3:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.titlebox .c3 .left {
	BORDER-RIGHT: #a4d0ff 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; WIDTH: 345px; PADDING-TOP: 2px
}
.titlebox .c3 .right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; WIDTH: 256px; PADDING-TOP: 2px
}
.titlebox .c3 .nTitle {
	CLEAR: both; MARGIN: 1px auto 0px; WIDTH: 97%; COLOR: #454545; LINE-HEIGHT: 25px; PADDING-TOP: 4px; HEIGHT: 25px
}
.titlebox .c3 .splitLine {
	WIDTH: 95%
}
.titlebox .c3 .nTitle .icoT {
	BACKGROUND-POSITION: -6px 0px; MARGIN: 6px 8px 0px
}
.titlebox .c3 .left .ByBulletin {
	MARGIN: 8px auto; WIDTH: 90%; HEIGHT: 1%
}
.titlebox .c3 .left .ByBulletin:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.titlebox .c3 .vote {
	MARGIN: 0px auto; WIDTH: 90%; HEIGHT: 84px
}
.titlebox .c3 .vote .voteTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; OVERFLOW: hidden; COLOR: #454545; LINE-HEIGHT: 25px; PADDING-TOP: 6px; HEIGHT: 25px
}
.titlebox .c3 .vote FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.titlebox .c3 .vote UL.voteItem {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 80%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.titlebox .c3 .vote UL.voteItem LI {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 49.5%; LINE-HEIGHT: 22px; HEIGHT: 22px
}
.titlebox .c3 .vote UL.voteItem LI .option {
	MARGIN-TOP: 0px; VERTICAL-ALIGN: middle
}
.titlebox .c3 .vote .sbtn {
	MARGIN-TOP: 22px
}
.left_right .left_frame .titlebox .numPrice {
	
}
.left_right .left_frame .titlebox .numPrice UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; BORDER-BOTTOM: #ffd479 1px solid; LIST-STYLE-TYPE: none; HEIGHT: 22px
}
.left_right .left_frame .titlebox .numPrice UL.header {
	BACKGROUND-POSITION: 0px -150px; FONT-SIZE: 12px; COLOR: #9f4d01; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 25px
}
.left_right .left_frame .titlebox .numPrice UL.end {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.left_right .left_frame .titlebox .numPrice UL LI {
	BORDER-RIGHT: #ffd479 1px solid; FLOAT: left; TEXT-ALIGN: center
}
.left_right .left_frame .titlebox .numPrice UL LI.code {
	WIDTH: 50px; FONT-FAMILY: Arial
}
.left_right .left_frame .titlebox .numPrice UL LI.name {
	WIDTH: 60px; FONT-FAMILY: Arial
}
.left_right .left_frame .titlebox .numPrice UL LI.link {
	WIDTH: 70px
}
.left_right .left_frame .titlebox .numPrice UL LI.price {
	WIDTH: 50px
}
.left_right .left_frame .titlebox .numPrice UL LI.zd {
	WIDTH: 84px; BORDER-RIGHT-WIDTH: 0px
}
.left_right .left_frame .titlebox .numPrice UL LI.zd B {
	MARGIN-TOP: 7px; MARGIN-LEFT: 2px
}
.splitLine {
	CLEAR: both; BACKGROUND-POSITION: 0px -62px; DISPLAY: block; FONT-SIZE: 1px; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 97%; LINE-HEIGHT: 1px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 1px
}
.mainFrame .main_right .titlebox .splitLine {
	BACKGROUND-POSITION: 0px -61px
}
.vsplitLine {
	BORDER-RIGHT: #ccc 1px dashed; DISPLAY: block; FLOAT: left; WIDTH: 1px; MARGIN-RIGHT: 1px
}
B.sline {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: #a4d0ff; OVERFLOW: hidden; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.mainFrame .main_right B.sline {
	BACKGROUND: #c7c7c7
}
.left_right .right_frame .mainBull {
	MARGIN: 0px auto
}
.left_right .right_frame .mainBull .up {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.left_right .right_frame .mainBull .up .title {
	FONT-SIZE: 18px; COLOR: #cc0001; LINE-HEIGHT: 24px; PADDING-TOP: 7px; FONT-FAMILY: "黑体"; HEIGHT: 24px; TEXT-ALIGN: center
}
.left_right .right_frame .mainBull .up .title A {
	COLOR: #cc0001
}
.left_right .right_frame .mainBull .up UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 18px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.left_right .right_frame .mainBull .down {
	PADDING-BOTTOM: 6px
}
.left_right .right_frame .mainBull .down .title {
	FONT-SIZE: 18px; COLOR: #000197; LINE-HEIGHT: 24px; PADDING-TOP: 7px; FONT-FAMILY: "黑体"; HEIGHT: 24px; TEXT-ALIGN: center
}
.left_right .right_frame .mainBull .down UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 18px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.newsbu {
	
}
.newsbu UL {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.newsbu UL FONT {
	FONT-SIZE: 14px; COLOR: #4a4a4a
}
.newsbu UL LI {
	OVERFLOW: hidden; LINE-HEIGHT: 24px; HEIGHT: 24px
}
.c_bg {
	BACKGROUND: #fff6e4
}
.list {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.list UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 24px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.list UL LI {
	CLEAR: both; BACKGROUND-POSITION: 0px -30px; DISPLAY: block; PADDING-LEFT: 8px; FONT-SIZE: 14px; OVERFLOW: hidden; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px
}
.list UL LI SPAN {
	DISPLAY: block; FLOAT: right; COLOR: #999
}
.cal {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.cal UL LI {
	BACKGROUND-POSITION: 0px -202px; FONT-SIZE: 13px; LINE-HEIGHT: 22px; HEIGHT: 22px
}
.cal UL.c2 LI {
	CLEAR: none; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 10px
}
.calN UL.c2 LI {
	CLEAR: none; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 10px
}
.calN UL LI {
	FONT-SIZE: 13px
}
.mainFrame .Content .bankBrowser {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff9e7; PADDING-BOTTOM: 1px; PADDING-TOP: 3px
}
.mainFrame .Content .bankBrowser UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MIN-HEIGHT: 27px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 238px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 1%
}
.mainFrame .Content .bankBrowser UL:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.mainFrame .Content .bankBrowser UL.end {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.mainFrame .Content .bankBrowser UL LI {
	FLOAT: left
}
.mainFrame .Content .bankBrowser UL LI.title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/browserBg.gif) no-repeat; WIDTH: 86px; COLOR: #727171; TEXT-INDENT: 26px; LINE-HEIGHT: 26px; HEIGHT: 26px
}
.mainFrame .Content .bankBrowser UL #r_bankdata {
	BACKGROUND-POSITION: 2px 2px
}
.mainFrame .Content .bankBrowser UL #r_bankservice {
	BACKGROUND-POSITION: 2px -24px
}
.mainFrame .Content .bankBrowser UL #r_bankfund {
	BACKGROUND-POSITION: 2px -51px
}
.mainFrame .Content .bankBrowser UL #r_bankcard {
	BACKGROUND-POSITION: 2px -78px
}
.mainFrame .Content .bankBrowser UL #r_personalbankfund {
	BACKGROUND-POSITION: 2px -106px
}
.mainFrame .Content .bankBrowser UL LI.link {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: "宋体"
}
.mainFrame .Content .bankBrowser UL LI.link A {
	TEXT-DECORATION: underline
}
.mainFrame .Content .bankBrowser UL LI.link A:hover {
	TEXT-DECORATION: none
}
.mainFrame .Content .bankBrowser UL LI.link A.red {
	COLOR: #ff0000
}
.ByBulletin {
	MARGIN: 0px auto
}
.ByBulletin .pic {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; BORDER-LEFT: #ccc 1px solid; MARGIN-RIGHT: 4px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid
}
.ByBulletin .content {
	FLOAT: left; WIDTH: 234px
}
.ByBulletin .content UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 4px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.ByBulletin .content UL LI {
	CLEAR: both; BACKGROUND-POSITION: 0px -30px; PADDING-LEFT: 8px; FONT-SIZE: 12px; OVERFLOW: hidden; LINE-HEIGHT: 22px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px
}
.Feature {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 3px; PADDING-TOP: 4px
}
.Feature .splitLine {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 2px
}
.Feature .ByBulletin {
	MARGIN: 0px auto; WIDTH: 92%; HEIGHT: 68px
}
.Feature .ByBulletin .content {
	WIDTH: 158px
}
.Feature .FeatureList {
	MARGIN: 0px auto; WIDTH: 92%
}
.Feature .FeatureList UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.Feature .FeatureList UL LI {
	BACKGROUND-POSITION: 0px -30px; PADDING-LEFT: 8px; FONT-SIZE: 13px; OVERFLOW: hidden; LINE-HEIGHT: 22px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px
}
.mainFrame .whProList {
	BORDER-TOP: #a4d0ff 1px solid
}
.mainFrame .whProList UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #4a4a4a; LINE-HEIGHT: 22px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 22px
}
.mainFrame .whProList UL.header {
	BACKGROUND: #e0f4ff; BORDER-BOTTOM: #a4d0ff 1px solid
}
.mainFrame .whProList UL.header LI.name {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 356px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.mainFrame .whProList UL.iColor {
	BACKGROUND: #f1f1f1
}
.mainFrame .whProList UL LI {
	FLOAT: left; BORDER-LEFT: #a4d0ff 1px solid; TEXT-ALIGN: center
}
.mainFrame .whProList UL LI.name {
	PADDING-LEFT: 8px; BORDER-LEFT-WIDTH: 0px; OVERFLOW: hidden; WIDTH: 348px; TEXT-ALIGN: left
}
.mainFrame .whProList UL LI.bank {
	OVERFLOW: hidden; WIDTH: 105px
}
.mainFrame .whProList UL LI.Cur {
	WIDTH: 84px
}
.mainFrame .whProList UL LI.Time {
	WIDTH: 86px
}
.mainFrame .whProList UL LI.ManageTime {
	WIDTH: 66px
}
.mainFrame .whProList UL LI.startAmount {
	WIDTH: 84px
}
.mainFrame .whProList UL LI.detail {
	WIDTH: 74px
}
.Express .splitLine {
	WIDTH: 95%
}
.Express {
	BACKGROUND: #fff9e7
}
.Express .ByBulletin {
	MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 230px; PADDING-TOP: 9px; HEIGHT: 74px
}
.Express .ByBulletin .pic {
	
}
.Express .ByBulletin .content {
	WIDTH: 158px
}
.Express .ByBulletin .content UL {
	LINE-HEIGHT: 20px
}
.Express .ByBulletin .content UL LI {
	BACKGROUND-POSITION: 0px -202px; OVERFLOW: hidden; TEXT-INDENT: 8px; BACKGROUND-REPEAT: no-repeat
}
.Express .ByBulletin .content UL LI.li_1 {
	FONT-WEIGHT: lighter; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #bd8c00; TEXT-INDENT: 0px
}
.Express .ByBulletin .content UL LI.li_1 A {
	COLOR: #bd8c00
}
.mainFrame .ModList .left {
	WIDTH: 340px
}
.mainFrame .ModList .right {
	WIDTH: 340px
}
.ShowContent UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 1%
}
.ShowContent UL:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.ShowContent UL LI {
	BACKGROUND-POSITION: 4px -202px; FONT-SIZE: 14px; OVERFLOW: hidden; TEXT-INDENT: 12px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px
}
.ShowContent {
	MARGIN: 7px auto; WIDTH: 90%
}
.ShowContent .pic {
	FLOAT: left; MARGIN-RIGHT: 4px
}
.ShowContent .content {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 212px; HEIGHT: 68px
}
.ShowContent .content UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.ShowContent .content UL LI {
	CLEAR: both; FONT-SIZE: 13px; LINE-HEIGHT: 23px; HEIGHT: 23px
}
.ShowContent .content UL LI.li_1 {
	COLOR: #6b3100; TEXT-INDENT: 18px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.ShowContent .content UL LI.li_2 {
	CLEAR: both; PADDING-LEFT: 8px
}
.pic {
	BORDER-RIGHT: #cfcfcf 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cfcfcf 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cfcfcf 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cfcfcf 1px solid
}
.r_CoImgList {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #fff6e4; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.r_CoImgList UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 100px
}
.r_CoImgList UL LI {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 72px; LINE-HEIGHT: 12px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.r_CoImgList UL LI IMG {
	MARGIN-BOTTOM: 6px
}
.mainFrame #Column_Navigation {
	VERTICAL-ALIGN: middle; TEXT-INDENT: 12px
}
.mainFrame .newList {
	CLEAR: both; MARGIN-TOP: 4px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 24px
}
.mainFrame .newList UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.mainFrame .newList UL LI {
	CLEAR: both; BACKGROUND-POSITION: 0px -32px; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 14px; MARGIN: 0px 8px; OVERFLOW: hidden; LINE-HEIGHT: 24px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px
}
.mainFrame .newList UL LI SPAN {
	DISPLAY: block; FLOAT: right; COLOR: #999
}
.mainFrame .newList UL LI.dline {
	CLEAR: both; BACKGROUND-POSITION: 0px -294px; MARGIN-TOP: 7px; DISPLAY: block; FONT-SIZE: 1px; MARGIN-BOTTOM: 7px; LINE-HEIGHT: 1px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 1px
}
.mainFrame .newList UL LI.ad {
	CLEAR: both; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px; HEIGHT: 90px
}
.mainFrame .newList UL LI.ad IFRAME {
	MARGIN-LEFT: -1px; POSITION: absolute
}
.mainFrame .newList .page {
	CLEAR: both; MARGIN-BOTTOM: 8px; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center
}
.mainFrame .main_right .newList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f1f1f1; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.mainFrame .main_right .newList UL LI {
	BACKGROUND-POSITION: 0px -31px; FONT-SIZE: 12px; LINE-HEIGHT: 23px; HEIGHT: 23px
}
.mainFrame .newText {
	CLEAR: both; PADDING-RIGHT: 16px; PADDING-LEFT: 16px; PADDING-BOTTOM: 8px; LINE-HEIGHT: 24px; PADDING-TOP: 8px; HEIGHT: auto
}
.mainFrame .newText .title {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #01029b; LINE-HEIGHT: 34px; FONT-FAMILY: "黑体"; TEXT-ALIGN: center
}
.mainFrame .newText .author {
	COLOR: #333; TEXT-ALIGN: center
}
.mainFrame .newText .author A {
	COLOR: #0000ff; TEXT-DECORATION: none
}
.mainFrame .newText .author A.red {
	COLOR: #ff0000
}
.mainFrame .newText .author A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.mainFrame .newText .content {
	MARGIN-TOP: 12px; FONT-SIZE: 14px; LINE-HEIGHT: 22px
}
.mainFrame .newText .content .PipadOf {
	CLEAR: left; FLOAT: left; WIDTH: 0px; HEIGHT: 18px
}
.mainFrame .newText .content .Pipad {
	CLEAR: left; FLOAT: left; MARGIN: 15px 15px 0px 0px; WIDTH: 300px; HEIGHT: 239px
}
.mainFrame .newText .content IMG {
	CLEAR: left
}
.mainFrame .newText .content TABLE {
	CLEAR: left
}
.mainFrame .newText .page {
	CLEAR: both; FONT-SIZE: 14px; MARGIN-BOTTOM: 8px; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center
}
.mainFrame .DlinkFavorite {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 444px
}
.mainFrame .DlinkFavorite .FavImage {
	MARGIN: 24px 0px 4px
}
.mainFrame .DlinkFavorite .FavText {
	CLEAR: both; FONT-SIZE: 14px; MARGIN-BOTTOM: 12px; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center
}
.mainFrame .Calculator {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f1f1f1; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.mainFrame .Calculator UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 95%; COLOR: #ccc; LINE-HEIGHT: 22px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 22px
}
.mainFrame .Calculator UL LI {
	BACKGROUND-POSITION: 0px -31px; FLOAT: left; MARGIN: 0px 10px; TEXT-INDENT: 10px; BACKGROUND-REPEAT: no-repeat
}
.mainFrame .Calculator .header {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 0px auto 5px; WIDTH: 95%; COLOR: #454545; LINE-HEIGHT: 24px; BORDER-BOTTOM: #c7c7c7 1px dashed; HEIGHT: 24px
}
.mainFrame .Calculator .header B.icoCal {
	MARGIN-TOP: 5px; MARGIN-RIGHT: 7px
}
.mainFrame .Calculator .sline {
	MARGIN: 7px 0px 6px
}
.mainFrame .BankService {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 3px; COLOR: #ccc; PADDING-TOP: 3px
}
.mainFrame .BankService UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 95%; LINE-HEIGHT: 24px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 24px
}
.mainFrame .BankService UL LI {
	FLOAT: left; WIDTH: 33%; COLOR: #002b84; FONT-FAMILY: "宋体"
}
.mainFrame .BankService .r2 UL LI {
	WIDTH: auto; MARGIN-RIGHT: 7px
}
.mainFrame .searchTag {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 2px; PADDING-TOP: 1px
}
.mainFrame .searchTag DIV.header {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px auto 6px; WIDTH: 95%; COLOR: #656565; LINE-HEIGHT: 25px; BORDER-BOTTOM: #ccc 1px dashed; HEIGHT: 25px
}
.mainFrame .searchTag DIV.header B.icoZoom {
	MARGIN-TOP: 5px; MARGIN-RIGHT: 7px
}
.mainFrame .searchTag SELECT {
	FONT-SIZE: 12px; MARGIN: 0px; VERTICAL-ALIGN: middle; WIDTH: 130px
}
.mainFrame .searchTag .Search1 {
	MARGIN-LEFT: 4px; POSITION: absolute
}
.mainFrame .searchTag SELECT {
	FLOAT: left; MARGIN-RIGHT: 4px
}
.mainFrame .searchTag SELECT.Currency {
	WIDTH: 78px
}
.mainFrame .searchTag SELECT.BType1 {
	WIDTH: 100px
}
.mainFrame .searchTag DIV.sbox {
	
}
.mainFrame .searchTag DIV.sbox SPAN.txt {
	FLOAT: left; MARGIN-RIGHT: 4px
}
.mainFrame .searchTag DIV.sbox DIV {
	CLEAR: both; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 8px; COLOR: #656565; LINE-HEIGHT: 20px; PADDING-TOP: 0px; HEIGHT: 20px
}
.mainFrame .searchTag .sbtn {
	FLOAT: left; WIDTH: 46px
}
.mainFrame .searchTag DIV.end {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.finSearch {
	MARGIN: 0px auto; WIDTH: 90%; COLOR: #454545; LINE-HEIGHT: 22px; PADDING-TOP: 8px
}
.finSearch SELECT {
	VERTICAL-ALIGN: middle; WIDTH: 150px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.finSearch INPUT {
	VERTICAL-ALIGN: middle
}
.finSearch UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.finSearch UL LI {
	FLOAT: left; WIDTH: 49%; HEIGHT: 22px
}
.finSearch DIV {
	CLEAR: both
}
.finSearch DIV .sbtn {
	FLOAT: right
}
.cardSearch {
	MARGIN: 0px auto; WIDTH: 90%; COLOR: #454545; LINE-HEIGHT: 20px; PADDING-TOP: 8px
}
.cardSearch SELECT {
	VERTICAL-ALIGN: middle; WIDTH: 150px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.cardSearch INPUT {
	VERTICAL-ALIGN: middle
}
.cardSearch UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.cardSearch UL LI {
	FLOAT: left; WIDTH: 33%; HEIGHT: 20px
}
.cardSearch DIV {
	CLEAR: both
}
.cardSearch DIV .sbtn {
	FLOAT: right
}
.busSearch {
	MARGIN: 0px auto; WIDTH: 90%; COLOR: #454545; LINE-HEIGHT: 24px; PADDING-TOP: 8px
}
.busSearch SELECT {
	VERTICAL-ALIGN: middle; WIDTH: 150px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.busSearch INPUT {
	VERTICAL-ALIGN: middle
}
.busSearch UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.busSearch UL LI {
	FLOAT: left; WIDTH: 50%; HEIGHT: 24px
}
.busSearch DIV {
	CLEAR: both; MARGIN-TOP: 4px
}
.busSearch DIV .sbtn {
	FLOAT: right
}
.mainFrame .cardList {
	BORDER-RIGHT: #a4d0ff 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #a4d0ff 1px solid; PADDING-LEFT: 4px; BACKGROUND: #dff5ff; PADDING-BOTTOM: 4px; BORDER-LEFT: #a4d0ff 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #a4d0ff 1px solid
}
.mainFrame .cardList UL {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #fff; PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-TOP: 8px; LIST-STYLE-TYPE: none; HEIGHT: 114px
}
.mainFrame .cardList UL LI {
	FLOAT: left; WIDTH: 156px; HEIGHT: 114px
}
.mainFrame .cardList UL LI .pic {
	MARGIN: 0px auto; WIDTH: 140px; HEIGHT: 89px
}
.mainFrame .cardList UL LI .name {
	FONT-SIZE: 14px; OVERFLOW: hidden; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center
}
.eBankLink {
	
}
.eBankLink UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 244px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.eBankLink UL LI {
	PADDING-RIGHT: 2px; MARGIN-TOP: 6px; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 118px; PADDING-TOP: 0px; HEIGHT: 42px
}
.eBankLink UL LI A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 114px; PADDING-TOP: 0px
}
.tit_rC_Box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px auto; WIDTH: 97%; PADDING-TOP: 6px; HEIGHT: 1%
}
.tit_rC_Box:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.tit_rC_Box .nTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; WIDTH: 160px; COLOR: #454545; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.tit_rC_Box .icoT1 {
	MARGIN: 6px 8px 0px
}
.tit_rC_Box UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 758px; LINE-HEIGHT: 25px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.tit_rC_Box UL LI {
	BACKGROUND-POSITION: 0px -30px; FLOAT: left; WIDTH: 126px; TEXT-INDENT: 10px; BACKGROUND-REPEAT: no-repeat
}
.link_list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px auto; WIDTH: 909px; PADDING-TOP: 6px; LIST-STYLE-TYPE: none; HEIGHT: 1%
}
.link_list:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.link_list LI {
	FLOAT: left; WIDTH: 101px; LINE-HEIGHT: 22px; HEIGHT: 22px
}
.mainFrame .titlebox .search {
	CLEAR: both; PADDING-RIGHT: 7px; PADDING-LEFT: 12px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 7px; COLOR: #656565; PADDING-TOP: 5px
}
.mainFrame .titlebox .search SELECT {
	FONT-SIZE: 12px; MARGIN: 2px 0px; VERTICAL-ALIGN: middle; WIDTH: 160px
}
.mainFrame .titlebox .search SELECT.Currency {
	WIDTH: 90px
}
.mainFrame .titlebox .search SELECT.BType1 {
	WIDTH: 118px
}
.mainFrame .titlebox .search .sbtn {
	FLOAT: none; MARGIN: 0px auto; WIDTH: 46px
}
.mainFrame .titlebox .search B {
	DISPLAY: block; FLOAT: none; MARGIN: 0px auto
}
.mainFrame .s01bg {
	BACKGROUND: #f5fbff; HEIGHT: 1%
}
.mainFrame .s01bg .cLine {
	
}
.mainFrame .s01bg .cLine B {
	MARGIN-TOP: 6px; MARGIN-RIGHT: 7px
}
.mainFrame .s01bg .s01c {
	WIDTH: 98%
}
.mainFrame .s01bg .cLine .title {
	FONT-WEIGHT: bold; FLOAT: left; MARGIN-LEFT: 24px; COLOR: #454545; LINE-HEIGHT: 24px; MARGIN-RIGHT: 24px; HEIGHT: 24px
}
.mainFrame .s01bg .cLine .link {
	FLOAT: left
}
.mainFrame .s01bg .cLine .link UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 24px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 24px
}
.mainFrame .s01bg .cLine .link UL LI {
	FLOAT: left; WIDTH: 130px
}
.mainFrame .s01bg:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.mainFrame .icommlist {
	
}
.mainFrame .icommlist UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; COLOR: #4a4a4a; LINE-HEIGHT: 25px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 25px
}
.mainFrame .icommlist UL LI {
	FLOAT: left; BORDER-LEFT: #a4d0ff 1px solid; LINE-HEIGHT: 25px; TEXT-ALIGN: center
}
.mainFrame .icommlist UL.header {
	BORDER-TOP-WIDTH: 0px; BACKGROUND: #e0f4ff; BORDER-BOTTOM: #a4d0ff 1px solid; HEIGHT: 33px
}
.mainFrame .icommlist UL.header LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 14px; PADDING-TOP: 3px
}
.mainFrame .icommlist UL LI.cpName {
	BORDER-LEFT-WIDTH: 0px; WIDTH: 146px
}
.mainFrame .icommlist UL.header LI.cpName {
	LINE-HEIGHT: 28px
}
.mainFrame .icommlist UL.iColor {
	BACKGROUND: #f1f1f1
}
.mainFrame .icommlist UL LI.price {
	WIDTH: 42px
}
.mainFrame .icommlist .remark {
	PADDING-RIGHT: 8px; BORDER-TOP: #a4d0ff 1px solid; BACKGROUND: #f1f1f1; COLOR: #4a4a4a; LINE-HEIGHT: 25px; TEXT-ALIGN: right
}
.mainFrame .comm_list {
	
}
.mainFrame .comm_list UL {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; LINE-HEIGHT: 22px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 22px
}
.mainFrame .comm_list UL.hTitle {
	BORDER-TOP-WIDTH: 0px; HEIGHT: 32px
}
.mainFrame .comm_list UL.hTitle LI {
	LINE-HEIGHT: 14px; PADDING-TOP: 3px; HEIGHT: 32px
}
.mainFrame .comm_list UL.hTitle LI.f0 {
	PADDING-TOP: 11px
}
.mainFrame .comm_list UL.hTitle LI.f1 {
	PADDING-TOP: 11px
}
.mainFrame .comm_list UL.hTitle LI.f2 {
	PADDING-TOP: 11px
}
.mainFrame .comm_list UL.hTitle LI.f3 {
	PADDING-TOP: 11px
}
.mainFrame .comm_list UL.hTitle LI.fd {
	PADDING-TOP: 11px
}
.mainFrame .comm_list UL LI {
	BACKGROUND: #fbfcff; FLOAT: left; BORDER-LEFT: #fff 1px solid; TEXT-ALIGN: center
}
.mainFrame .comm_list UL LI.f0 {
	BORDER-LEFT-WIDTH: 0px; WIDTH: 60px
}
.mainFrame .comm_list UL LI.f1 {
	WIDTH: 70px
}
.mainFrame .comm_list UL LI.f2 {
	WIDTH: 190px
}
.mainFrame .comm_list UL LI.f3 {
	WIDTH: 70px
}
.mainFrame .comm_list UL LI.fd {
	WIDTH: 64px
}
.mainFrame .comm_list UL LI.fN {
	WIDTH: 58px
}
.mainFrame .Content .comm_list .page {
	MARGIN-TOP: 8px; FONT-SIZE: 12px; FLOAT: right; LINE-HEIGHT: 38px; HEIGHT: 38px; TEXT-ALIGN: right
}
.mainFrame .Content .comm_list .page A {
	BORDER-RIGHT: #a3d1ff 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #a3d1ff 1px solid; DISPLAY: block; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 4px; BORDER-LEFT: #a3d1ff 1px solid; LINE-HEIGHT: 18px; PADDING-TOP: 2px; BORDER-BOTTOM: #a3d1ff 1px solid; HEIGHT: 18px; TEXT-DECORATION: none
}
.mainFrame .Content .comm_list .page A:hover {
	BACKGROUND: #a3d1ff
}
.mainFrame .Content .comm_list .page .at {
	BORDER-RIGHT: #a3d1ff 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #a3d1ff 1px solid; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: bold; BACKGROUND: #a3d1ff; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 4px; BORDER-LEFT: #a3d1ff 1px solid; COLOR: #fff; LINE-HEIGHT: 18px; PADDING-TOP: 2px; BORDER-BOTTOM: #a3d1ff 1px solid; HEIGHT: 18px
}
.mainFrame .Content .comm_list .remark {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 8px; COLOR: #ff0000; LINE-HEIGHT: 25px; HEIGHT: 25px
}
